/* CUstom font */
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&family=Sekuya&display=swap');

/* Universal selector */
* {
    box-sizing: border-box;
}


/* variables and fallbacks */
:root {
    --main-bg-color: #f0f0f0;
    --accent-green: #71da51;
    --text-color:rgb(2, 82, 63);
    --red-color: rgb(255, 0, 0);
}

body {
    /*fonts */
    font-family: 'Datatype', 'Sekuya', sans-serif;
    /* RGB + Color Name */
    color: var(--text-color, darkgreen);
    background-color: var(--main-bg-color, lightgray);

    /*Auto Margins */
    margin: auto;
    width: 999px;
}

h2, h3 {
    letter-spacing: 0.05rem;
}


header {
    /*Hex */
    background-color: var(--accent-green);
    position: static;

    /*LONG Margin*/
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    margin-left: 0in;
    margin-right: 0in;

    /*LONG Padding*/
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 0px;
    padding-right: 0px;

    /* LONG border */
    border-style: double;
    border-color: black;
    border-width: 3pt;

    text-align: center;
}

h1{
    text-decoration: underline wavy rgb(128, 0, 19);
}

main {
    position: relative;
    top: 5px;

    height: auto;
    min-height: 200px;
    max-width: 100%;
    min-width: 300px;

    color: rgb(0, 0, 0);

    /* Short Margin*/
    margin: 2rem 0 2rem 0;

    /* ShortPadding */
    padding: 2em;

    /* Short Border */
    border: 1px solid #ccc;
    border-radius: 15px;
}


/* FLEXBOX */
nav ul {
    display: flex;
    justify-content: center;
    gap: 2.9rem;
    list-style: none;
    padding: 2em;
}

/* GRID */
#attendance ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    list-style: none;
}



section {
    /*HSL */
    background-color: hsl(168, 79%, 89%);
    margin-bottom: 20px;
    display: block;
}


#hidden{
    display: none;
}

a:hover {
    color: rgb(211, 29, 214);
    text-decoration: none;
}

a:active{
    color: rgb(255, 247, 0);
}



footer {
    /* Wider-gamut colors */
    color: color-mix(in srgb, navy, white 30%);

    background-color: color(srgb 0.9 0.9 0.9);
    
    padding: 50px;
    text-align: center;


    border-top: 1px solid #ccc;
}

#specifics {
    border-left: 5px solid var(--text-color);
    border-right: 5px solid var(--text-color);
}

.home-link {
    font-weight: bold;
    text-decoration: line-through;
}

a.home-link {
    text-transform: uppercase;
    color: var(--red-color);
}

a[target="_blank"] {
    cursor: alias;
    font-style: italic;
}

nav a {
    text-decoration: none;
}

section > h2 {
    color: var(--text-color);
}

h2 + h3 {
    margin-top: -10px;
    opacity: 0.33;
}

h3 ~ p {
    font-style: italic;
    color: var(--red-color);
    
}

/* Pseudo - classes selectors */
p:first-child {
    font-weight: bold;
}

/*modern selctors) */

section:has(h3) {
    border: 5px dashed var(--accent-green);
    background-color: color-mix(in srgb, var(--accent-green), white 50%);
}

form {
    background: #fdfdfd;
    padding: 20px;
    border-radius: 10px;

    button {
        background-color: var(--accent-green);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgb(75, 191, 75);
            color: red;
        }
    }

}

@media (max-width: 1000px) {
    body {
        width: 95%;
    }

    img {
        width: 100%;
        height: auto;
    }

    video {
        width: 100%;
        height: auto;
    }
    
    #attendance ul {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}